


.radio-component-main-heading{
    font-size: 2.4rem;
    color: #000000;
    font-weight: 900;
}

.radio-component-text{
    font-size: 1.15rem;
}


@media screen and (max-width:767px){
    .radio-component-main-heading{
        font-size: 1.8rem;
    }
    .radio-component-text{
        font-size: 0.9rem;
    }
   
    .radio-btn{
        font-size: 0.8rem;
        padding: 12pt !important;
    }
}