

.about-component-parent-wrapper{
    background-color: #d9d9d98c;
}

.about-component-main-heading{
    font-size: 2.4rem;
    color: #3E3C3A;
    font-weight: 900;
}

.about-component-read-more-btn{
    border:solid 2px orange;
    border-radius: 2pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.about-component-read-more-btn:hover{
    background-color: orange;
}

@media screen and (max-width:767px){
    .about-component-main-heading{
        font-size: 1.6rem;
    }
    .about-component-description{
        font-size: 0.85rem !important;
        line-height: 1rem;
    }
    .about-component-read-more-btn{
        font-size: 0.65rem;
    }
}