* {
  padding: 0;
  margin: 0;
 
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}


.nav_link_item{
  list-style: none;
  text-decoration: none;
}

.link{
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}

/*navigation coding start here*/
.navigation_parent_wrapper {
  background-color: rgb(255, 255, 255);
}

.nav-list-items-wrapper {
  column-gap: 28px;
}

.contact_link {
  background-color: #000000;
  border-radius: 3pt;
  padding-left: 25pt;
  padding-right: 25pt;
}

.nav_link_item {
  font-weight: 480;
  font-size: 11pt;
}

.home_link {
  color: white !important;
}

.fa-shopping-cart{
  font-size: 1.3rem !important;
}

@media screen and (max-width: 767px) {

  .link{
    color: white !important;
  }

  .home_link {
    text-align: center !important;
  }

  .nav_list_items_wrapper {
    display: none;
  }


  .hide {
    display: none;
  }

  .show {
    display: flex !important;
    flex-direction: column;
    text-align: center !important;
    height: 55vh;
    position: fixed;
    justify-content: center !important;
    align-items: center !important;
    top: 15vh;
    left: 0;
    row-gap: 4vh;
    width: 100%;
    z-index: 1000;
    color: white !important;
  }

  .nav-list-items-wrapper {
    background-color: rgb(210, 70, 0) !important;
  }

}


@media (max-width: 768px) {
  

  .small_device_menu_wrapper {
    display: flex;
    align-items: center;
  }

}

/* Hide cart button in the nav list on small devices */
@media (min-width: 768px) {

}

/*responsiveness coding start here*/
@media screen and (min-width: 632px) and (max-width: 767px) {
  

  .navigation_child_wrapper {
    max-width: 558px;
  }
}

@media screen and (max-width: 631px) {}

@media screen and (min-width: 488px) and (max-width: 575px) {}

@media screen and (max-width: 426px) {}

@media screen and (max-width: 345px) {
  .logo-img {
    height: 80px !important;
  }

  .navigation_child_wrapper {
    max-width: 300px;
  }
}
/*responsiveness coding ended here*/

.logo {
  height: 60pt;
}
